<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.gif" alt="Sunil" title="Rautela" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                      
                        <h1>I am  <span class="txt_clr">Sunil Rautela</span> Youtuber</h1>
                        <a href="https://www.youtube.com/c/RajaBabuGaming/" target="My Channel"><button>My YouTube Channel</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            Sunay
        </p>
    </footer>
</body>

</html>